name: Deploy to server

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build Docusaurus
    runs-on: ubuntu-latest
    steps:
      # 检出代码
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # 配置 Node.js
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: about/ezasse-doc/yarn.lock

      # 安装依赖并构建项目
      - name: Install and Build
        working-directory: about/ezasse-doc
        run: |
          yarn install --frozen-lockfile
          yarn build

      # 上传构建产物以供部署步骤使用
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v4
        with:
          name: server-build
          path: about/ezasse-doc/build

  confirm-upload:
    name: Confirm Upload and List Download URL
    needs: build
    runs-on: ubuntu-latest
    steps:
      # 列出上传的构建产物
      - name: List uploaded artifact
        run: |
          echo "Listing the uploaded artifact"
          ls -alh

      # 获取并列出上传的构建产物的下载 URL
      - name: List artifact download URL
        run: |
          echo "To download the artifact, use the following URL:"
          echo "https://github.com/${{ github.repository }}/actions/artifacts/${{ steps.upload.outputs.artifact_id }}"